In [9]:
#multiple regression model
#import library
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import statsmodels.formula.api as sm
df = pd.read_csv("House Sales in King County, USA.csv") #Reading the dataset (dataframe) 
df.head()#shows the top 5 rows

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [26]:
df.columns #data dictionary (name of all the columns)
#variables

Index([u'id', u'date', u'price', u'bedrooms', u'bathrooms', u'sqft_living',
       u'sqft_lot', u'floors', u'waterfront', u'view', u'condition', u'grade',
       u'sqft_above', u'sqft_basement', u'yr_built', u'yr_renovated',
       u'zipcode', u'lat', u'long', u'sqft_living15', u'sqft_lot15'],
      dtype='object')

In [5]:
df.apply(lambda x: sum(x.isnull()),axis=0) #check missing value isnull() return 1 for missing value

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [6]:
df.describe() #summarization of data frame

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [37]:
Y_dataset=df.iloc[:, 2].values #dependent variable #price column

In [79]:
X_dataset=df.iloc[ : , 3 : ].values #all independent variable  except price column

In [48]:
#modeling using backward elimination
X_dataset=np.append(arr= np.ones((21613,1)).astype(int) ,values=X_dataset, axis =1)#adding a column with value all 1 as statsmodel doesnt take constant b0 in account

In [54]:
X_dataset_opt= X_dataset[:, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]]

In [55]:
order_least_square=sm.OLS(endog= Y_dataset, exog= X_dataset_opt).fit() #output(dependent variable) and input (independent) [fit model]

In [57]:
order_least_square.summary()#lower the p value ,more the variable significant SL=0.05

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.700
Model:                            OLS   Adj. R-squared:                  0.700
Method:                 Least Squares   F-statistic:                     2960.
Date:                Sun, 04 Feb 2018   Prob (F-statistic):               0.00
Time:                        00:49:08   Log-Likelihood:            -2.9460e+05
No. Observations:               21613   AIC:                         5.892e+05
Df Residuals:                   21595   BIC:                         5.894e+05
Df Model:                          17
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        6.69e+06   2.93e+06      2.282      0.022    9.44e+05    1.24e+07
x1         -3.577e+04   1891.843    -18.906      0.000   -3.95e+04   -3.21e+04
x2          4.114e+04   3253.678     12.645      0.000    3.48e+04    4.75e+04
x3           110.4422      2.270     48.661      0.000     105.994     114.891
x4             0.1286      0.048      2.683      0.007       0.035       0.223
x5          6689.5501   3595.859      1.860      0.063    -358.599    1.37e+04
x6           5.83e+05   1.74e+04     33.580      0.000    5.49e+05    6.17e+05
x7          5.287e+04   2140.055     24.705      0.000    4.87e+04    5.71e+04
x8          2.639e+04   2351.461     11.221      0.000    2.18e+04     3.1e+04
x9          9.589e+04   2152.789     44.542      0.000    9.17e+04       1e+05
x10           70.7859      2.253     31.413      0.000      66.369      75.203
x11           39.6583      2.646     14.985      0.000      34.471      44.846
x12        -2620.2232     72.659    -36.062      0.000   -2762.640   -2477.806
x13           19.8126      3.656      5.420      0.000      12.647      26.978
x14         -582.4199     32.986    -17.657      0.000    -647.074    -517.765
x15         6.027e+05   1.07e+04     56.149      0.000    5.82e+05    6.24e+05
x16        -2.147e+05   1.31e+04    -16.349      0.000    -2.4e+05   -1.89e+05
x17           21.6814      3.448      6.289      0.000      14.924      28.439
x18           -0.3826      0.073     -5.222      0.000      -0.526      -0.239
==============================================================================
Omnibus:                    18384.201   Durbin-Watson:                   1.990
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1868224.491
Skew:                           3.566   Prob(JB):                         0.00
Kurtosis:                      47.985   Cond. No.                     4.77e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.63e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [59]:
# x5>0.05 therefore remove
X_dataset_opt= X_dataset[:, [0,1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18]]
order_least_square=sm.OLS(endog= Y_dataset, exog= X_dataset_opt).fit() #output(dependent variable) and input (independent) [fit model]
order_least_square.summary()#lower the p value ,more the variable significant SL=0.05

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.700
Model:                            OLS   Adj. R-squared:                  0.699
Method:                 Least Squares   F-statistic:                     3145.
Date:                Sun, 04 Feb 2018   Prob (F-statistic):               0.00
Time:                        00:50:20   Log-Likelihood:            -2.9460e+05
No. Observations:               21613   AIC:                         5.892e+05
Df Residuals:                   21596   BIC:                         5.894e+05
Df Model:                          16
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       5.741e+06   2.89e+06      1.989      0.047    8.28e+04    1.14e+07
x1         -3.586e+04   1891.248    -18.962      0.000   -3.96e+04   -3.22e+04
x2          4.272e+04   3141.958     13.596      0.000    3.66e+04    4.89e+04
x3           109.9741      2.256     48.752      0.000     105.553     114.396
x4             0.1266      0.048      2.643      0.008       0.033       0.221
x5          5.831e+05   1.74e+04     33.585      0.000    5.49e+05    6.17e+05
x6          5.297e+04   2139.565     24.756      0.000    4.88e+04    5.72e+04
x7          2.614e+04   2347.831     11.133      0.000    2.15e+04    3.07e+04
x8          9.624e+04   2144.551     44.878      0.000     9.2e+04       1e+05
x9            72.3474      2.091     34.591      0.000      68.248      76.447
x10           37.6302      2.412     15.604      0.000      32.903      42.357
x11        -2590.7927     70.920    -36.531      0.000   -2729.801   -2451.784
x12           20.1729      3.651      5.526      0.000      13.017      27.328
x13         -576.6895     32.844    -17.559      0.000    -641.065    -512.314
x14         6.044e+05   1.07e+04     56.494      0.000    5.83e+05    6.25e+05
x15        -2.168e+05   1.31e+04    -16.568      0.000   -2.42e+05   -1.91e+05
x16           20.9673      3.426      6.119      0.000      14.251      27.683
x17           -0.3874      0.073     -5.291      0.000      -0.531      -0.244
==============================================================================
Omnibus:                    18333.238   Durbin-Watson:                   1.990
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1848729.005
Skew:                           3.552   Prob(JB):                         0.00
Kurtosis:                      47.749   Cond. No.                     4.68e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is  1e-21. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [112]:
#all p values less than 0.05 therefore model fit
#x5 correspond to floor column '
#remove floor and then use dataset
X_dataset=df.iloc[ : ,[3,4,5,6,8,9,10,11,12,13,14,15,16,17,18,19,20]].values
#all independent variable  except floor column (backward elimination)
Y_dataset=df.iloc[:, 2].values #dependent variable #price column

21613

In [114]:
#Split dataset for training and testing
X_train, X_test, y_train, y_test = train_test_split(X_dataset,Y_dataset,test_size=0.1 , random_state=15) #test size=0.1 -> 90% train and 10% test
len(X_test)

2162

In [108]:
multiple_linear_regression=LinearRegression() #define 
multiple_linear_regression.fit(X_train,y_train) #fit model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [122]:
#check accuracy of model
score=simple_linear_regression.score(X_test, y_test)
print "Accuracy= ",(score*100),"%"

Accuracy=  70.9800031481 %